.card8-container {
    display: flex;
    flex-direction: column; /* Đặt các phần tử theo cột */
    align-items: center; /* Canh giữa */
    text-align: center;
  }
  
  .card8-row {
    display: flex; /* Sử dụng flex để chữ nằm trên một hàng */
    justify-content: center; /* Canh giữa các chữ cái */
    align-items: flex-start; /* Đảm bảo các phần tử được canh theo chiều dọc ở đầu */
    margin-bottom: 20px; /* Khoảng cách giữa hàng chữ cái và đoạn văn bản */
  }
  
  .card8-item {
    margin: 0 40px; /* Khoảng cách giữa các chữ cái */
    transition: transform 0.3s ease-in-out;
  }
  
  .card8-letter {
    font-size: 150px; /* Kích thước chữ cái */
    
    color: #0b8fac; /* Màu tím nhạt */
    transition: transform 0.3s ease-in-out;
  }
  
  .card8-item:hover .card8-letter {
    transform: scale(1.2) rotate(10deg);
  }
  
  /* Định dạng cho các đoạn text phụ */
  .card8-item p {
    margin: 5px 0;
    font-size: 25px;
    color: #0b8fac;
  }
  
  .card8-text {
    font-size: 18px;
    color: #0b8fac;
    margin-top: 25px; /* Khoảng cách giữa chữ cái và đoạn văn bản */
  }
  
  .card8-text p {
    font-size: 25px;
    color: #0b8fac;
    font-weight: normal; /* Loại bỏ in đậm */
  }
  
  /* Responsive cho thiết bị nhỏ hơn */
  @media (max-width: 768px) {
    .card8-letter {
      font-size: 60px; /* Giảm kích thước chữ trên thiết bị nhỏ */
    }
  }
  