.icon-back {
  color: #66B5A3;
  margin-right: auto;
  position: absolute;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  line-height: 44px;
  color: #66B5A3;
  font-weight: 500;
  padding: 0 16px;
}

.title h1 {
  text-align: center;
  margin: 0 auto;
}



.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  color: #333;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form button {
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form button:hover {
  background: #97c9bc;
}

/* Căn giữa addAvatar */
.addAvatar {
  display: flex;
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  height: 25vh;
  /* Điều chỉnh chiều cao nếu cần */
  /* Khoảng cách trên/dưới */
}

.addAvatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* Tạo hình tròn cho ảnh */
  object-fit: cover;
  /* Đảm bảo ảnh không bị méo */
  cursor: pointer;
  /* Đổi con trỏ khi hover */
}


.card-box-update-ad {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
}
.card-title-update-ad{
  color: #66B5A3;
}
.form-group {
  margin-bottom: 20px;
}

.local-forms .form-group {
  margin-bottom: 30px;
  position: relative;
}

.form-control {
  border: 2px solid #2e37a41a;
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
  min-height: 45px;
  padding: 10px 15px;
}


/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}