button{
    color: white;
    background-color: #0b8fac;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
    margin: 10px;
}
.btnmap{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {
    padding-top: 80px;
}